# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ml,mli,mll,mly}]
indent_style = space
indent_size = 2

[*.{ts,js,json}]
indent_style = space
indent_size = 2

[dune]
indent_style = space
indent_size = 1

[dune-project]
indent_style = space
indent_size = 1

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

# Exclude generated/symlinked files
[webapp/app/public/repl-bundles/{js-repl.js,python-repl.js}]
indent_style = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

# Exclude cram test files
[*.t]
indent_style = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
